@model IEnumerable<FoodDeliveryProject.Models.Place>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinOrderPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryPriceFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryPriceTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinOrderPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryPriceFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryPriceTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlaceID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlaceID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlaceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
